<%- include('header'); -%>
    <h2 id="about">About us</h2>
    <p class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi amet similique perspiciatis vitae
        hic ratione
        doloremque sint expedita officia minus corporis dignissimos suscipit necessitatibus ipsum quisquam, quasi
        facere,
        nulla natus laboriosam impedit reiciendis architecto? Harum culpa porro placeat cupiditate iusto numquam,
        voluptatem
        totam accusantium distinctio, tempore deserunt nihil vero? Odio quia quam provident necessitatibus veniam
        impedit
        voluptate! Itaque velit, commodi nemo doloribus labore enim doloremque consectetur ea. Nisi similique beatae
        quam
        nam vel natus distinctio voluptate sint mollitia tenetur dignissimos magnam corrupti illo eum ipsum nihil eius
        et
        reprehenderit iste doloremque tempora, sit vero. Sit id nisi nam laboriosam veritatis?</p>
    <p class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, facilis aspernatur beatae
        voluptates
        laudantium accusantium eos, velit veritatis soluta, sequi pariatur doloremque fugiat. Tempore consectetur fugit,
        autem nesciunt odit iure iusto vitae non dolorem, fuga fugiat. Corporis magni odio illo totam ullam similique
        nobis saepe. Itaque ab pariatur obcaecati et optio aut enim dicta ipsum vel dolorem, voluptates ipsa iure
        recusandae rerum iusto nostrum corporis cum accusamus praesentium laborum deleniti quia? Obcaecati laborum ipsam
        expedita eligendi ipsum esse, facere nobis voluptatum architecto officia nihil, assumenda, sint ut? Veniam animi
        in illo facilis, quibusdam corrupti qui necessitatibus provident consequuntur laboriosam laborum suscipit ipsam
        alias tempora nisi. Natus, perferendis eum corrupti quasi beatae non magni, hic aliquam, eos dignissi
    </p>
    <form action="/success" method="post">
        <h3 id="about">Join Our Newsletter</h3>
        <input type="email" name="email" required placeholder="Enter Your Email" autocomplete="off">
        <button type="submit">Join Now</button>
    </form>

    <%- include('footer'); -%>